body {
    font-family: "Montserrat";
}

.wrapper {
    font-family: "Merriweather";
    width: 800px;
    margin: auto;
    padding: 70px;
}

h2 {
    vertical-align: center;
    color: #4b7077;
    font-style: big;
    display: inline-block;
    width: 70%;
}


.title-image {
    display: inline-block;
    vertical-align:middle;
    padding-bottom: 40px;
}

.title-box {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    height: 80px;
}

.title-subtext {
    font-size: 20px;
    padding-top: 10px;
}

.samples {
    font-size: 10px;
    color: #80898E;
    margin-bottom: 20px;
}

.show {
    display: block;
}

.subheader {
    margin-top: 30px;
    margin-bottom: 35px;
    color: #8d9da7;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
}

.card-header {
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid #D2DDE4;
    font-size: 12px;
    font-weight: 500;
}

.card {
    position: relative;
    border: 1px solid #f0f5f9;
}

.badge.cat-badge {
    position: absolute;
    right: 12px;
    top: 19px;
}

.badge {
    border-radius: 2px;
    font-weight: bold;
}

.sample-badge {
    border: 1px solid #D2DDE4;
    background-color: rgb(177, 219, 198);
    color: rgb(89, 99, 105);
    text-transform: lowercase;
    font-weight: 500;
    padding: 1px 7px;
    margin: 0 2px;
    border-radius: 2px;
    font-size: 9px;
}

.tags {
    font-family: "Montserrat";
    border: 1px solid #D2DDE4;
    background-color: #EDFFF6;
    color: #52616a;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1px 7px;
    margin: 0 2px;
    border-radius: 2px;
    font-size: 9px;
}

.title {
    font-size: 16px;
    font-weight: 900;
    padding-left: 8px;
    max-width: 80%;
    text-transform: uppercase;
    font-family: "Montserrat";
}

.url-link:hover {
    color: #1D71D1;
}

.card-body {
    position: relative;
    width: 100%;
    padding: 15px;
    color: #52616a;
}

.card-body-left {
    width: 25%;
    margin-right: 10px;
    display: inline-block;
    font-size: 11px;
    vertical-align: top;
}

.card-subtext {
    padding: 2%;
    margin: 0;
    width: 48.5%;
    display: inline-block;
    vertical-align: top;
}

.pros, .cons {
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.pros {
    color: #FF5142;
}

.cons {
    color: #00951F;
}

.subtext {
    font-size: 9px;
    color: #52616a;
    padding: 2px;
}

.card-body-right {
    max-width: 70%;
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
}

h4 {
    text-align: center;
    font-size: 20px;
    color: #52616a;
}

/*start drop menu style*/
.label {
    font-size: 1rem;
    padding-right: 10px;
}

.select {
    font-size: .9rem;
    padding: 2px 5px;
}

.footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
/*end drop menu stlye*/