body {
    font-family: "Montserrat";
}

.wrapper {
    font-family: "Merriweather";
    width: 800px;
    margin: auto;
    padding: 100px;
}

.samples {
    font-size: 10px;
    color: #80898E;
}

.show {
    display: block;
}

.subheader {
    margin-top: 30px;
    margin-bottom: 35px;
    color: #8d9da7;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
}

.card-header {
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid #D2DDE4;
    font-size: 12px;
    font-weight: 500;
}

.card {
    position: relative;
    border: 1px solid #f0f5f9;
}

.badge.cat-badge {
    position: absolute;
    right: 12px;
    top: 19px;
}

.badge {
    border-radius: 2px;
    font-weight: bold;
}

.sample-badge {
    border: 1px solid #D2DDE4;
    background-color: rgb(177, 219, 198);
    color: rgb(89, 99, 105);
    text-transform: lowercase;
    font-weight: 500;
    padding: 1px 7px;
    margin: 0 2px;
    border-radius: 2px;
    font-size: 9px;
}

.tags {
    border: 1px solid #D2DDE4;
    background-color: #EDFFF6;
    color: #52616a;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1px 7px;
    margin: 0 2px;
    border-radius: 2px;
    font-size: 9px;
}

.title {
    font-size: 16px;
    font-weight: 900;
    padding-left: 8px;
    max-width: 80%;
    text-transform: uppercase;
    font-family: "Montserrat";
}

.card-body {
    position: relative;
    width: 100%;
    padding: 15px;
    color: #52616a;
}

.card-body-left {
    width: 25%;
    margin-right: 10px;
    display: inline-block;
    font-size: 11px;
    vertical-align: top;
}

.card-body-right {
    max-width: 70%;
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
}
/*start drop menu style*/
.multiselect {
width: 200px;
}

.selectBox {
position: relative;
}

.selectBox select {
width: 100%;
font-weight: bold;
}

.overSelect {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

#checkboxes {
display: none;
border: 1px #dadada solid;
}

#checkboxes label {
display: block;
}

#checkboxes label:hover {
background-color: #1e90ff;
}
/*end drop menu stlye*/