<html>
    <head>
        <!-- <link rel="stylesheet" href="/static/bootstrap.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/static/main.css" >
        <link rel="stylesheet" type="text/css" href="/static/materialize.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat" rel="stylesheet">
        
    </head>
    <body>
        <div class="wrapper">
            <div class="row form-container">
                <form class="col s12">
                    <div class="row">
                        <div class="top">
                            <!--drop menu for skills-->
                            <script>
                                var expanded = false;
                                function Checkboxes() {
                                var checkboxes = document.getElementById("checkboxes");
                                if (!expanded) {
                                    checkboxes.style.display = "block";
                                    expanded = true;
                                } else {
                                    checkboxes.style.display = "none";
                                    expanded = false;
                                }
                                }
                            </script>
                            <div class="multiselect">
                                <div class="selectBox" onclick="Checkboxes()">
                                  <select>
                                    <option>My Skills are...</option>
                                  </select>
                                  <div class="overSelect"></div>
                                </div>
                                <div id="checkboxes">
                                  <label for="one">
                                    <input type="checkbox" id="one" />Java</label>
                                  <label for="two">
                                    <input type="checkbox" id="two" />Python</label>
                                  <label for="three">
                                    <input type="checkbox" id="three" />C++</label>
                                <!--continue with more skills-->
                                </div>
                              </div>
                        </div>
                        <div class="middle">
                            <div class="form-text inline">
                                In...
                            </div>
                            <div class="dropdown-locations">
                                <input type="text" name="location" placeholder="San Francisco, CA">
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="form-text inline">
                                In a company that is...
                            </div>
                            <div class="select-quality">
                                <input type="text" name="company_quality">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info"> Go! </button>
                </form>
            </div>
            <form class="form-inline">
            {% if results %}
                <div class="subheader show">Recommended companies for you</div>

                {% for info in results %}
                    <div class='card col s12'>
                        <div class='card-header'>
                            <div class='title'>
                            <p>{{ info.company_name }}</p>
                            </div>
                            <div class="badge cat-badge">
                                {% for descriptor in info.company_top_keywords %}
                                    <span class="tags">{{ descriptor }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class='card-body'>
                            {% for job in info.job_links %}
                                <div class='card-body-inner'>
                                    <div class='card-body-left'>
                                        <p><a href="{{job.url}}">{{job.job_title}}</a></p>
                                    </div>
                                    <div class='card-body-right'>
                                        <p>{{job.job_summary}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            {% else  %}
                <h4>No results found :(</h4>
            {% endif %}
            </form>
        </div>
    </body>

</html>
