<html>
    <head>
        <!-- <link rel="stylesheet" href="/static/bootstrap.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/static/main.css" >
        <link rel="stylesheet" type="text/css" href="/static/materialize.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <link href="css/prism.css" rel="stylesheet">
        <link href="css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
        
    </head>
    <body>
        <div class="wrapper">
            <div class="row form-container">
                <form class="col s12">
                    <div class="row">
                        <div class="top">
                            <div class="form-text inline">
                                My skills are...
                            </div>
                            <div class="chips chips-autocomplete"></div>          
                              <script>
                                document.addEventListener('DOMContentLoaded', function() {
                                    var elems = document.querySelectorAll('.chips');
                                    var instances = M.Chips.init(elems, options);
                                });
                                $('.chips').chips();
                                $('.chips-autocomplete').chips({
                                    autocompleteOptions: {
                                    data: {
                                        'Java': null,
                                        'Ocaml': null,
                                        'AI': null,
                                        'Git': null,
                                        'Javascript': null,
                                        'NLP': null,
                                        'Python': null,
                                        'Microsoft': null,
                                        'SQL': null,
                                        'CSS': null,
                                        'Ruby': null,
                                        'Django': null,
                                        'Flask': null
                                    },
                                    limit: Infinity,
                                    minLength: 1
                                    }
                                });
                              </script>
                                      <div class="samples">
                                        <span>e.g.: </span>
                                        <span class="sample-badge">
                                        Java
                                        </span>
                                        <span class="sample-badge">
                                        Python
                                        </span>
                                        <span class="sample-badge">
                                            Javascript
                                        </span>
                                    </div>
                        <div class="middle">
                            <div class="text">
                                In...
                            </div>
                                <p>
                                    <label>
                                    <input type="radio" name="city" value="sanfrancisco"/>
                                    <span>San Francisco</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                    <input type="radio" name="city" value="chicago"/>
                                    <span>Chicago</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                    <input type="radio" name="city" value="newyork"/>
                                    <span>New York City</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                    <input type="radio" name="city" value="seattle"/>
                                    <span>Seattle</span>
                                    </label>
                                </p>
                                <!-- <p>
                                    <label>
                                    <input type="radio" name="city" value="washingtondc"/>
                                    <span>Washington D.C</span>
                                    </label>
                                </p> -->
                                <p>
                                    <label>
                                    <input type="radio" name="city" value="denver"/>
                                    <span>Denver</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                    <input type="radio" name="city" value="detroit"/>
                                    <span>Detroit</span>
                                    </label>
                                </p>
                        </div>
                        <div class="bottom">
                            <div class="form-text inline">
                                In a company that is...
                            </div>
                            <div class="select-quality">
                                <input type="text" name="company_quality">
                            </div>
                            <div class="samples">
                                <span>e.g.: </span>
                                <span class="sample-badge">
                                    work life balance
                                </span>
                                <span class="sample-badge">
                                    high salary
                                </span>
                                <span class="sample-badge">
                                    startup
                                </span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info"> Go! </button>
                </form>
            </div>
            <form class="form-inline">
            {% if results %}
                <div class="subheader show">Recommended companies for you</div>

                {% for info in results %}
                    <div class='card col s12'>
                        <div class='card-header'>
                            <div class='title'>
                            <p>{{ info.company_name }}</p>
                            </div>
                            <div class="badge cat-badge">
                                {% for descriptor in info.company_top_keywords %}
                                    <span class="tags">{{ descriptor }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class='card-body'>
                            {% for job in info.job_links %}
                                <div class='card-body-inner'>
                                    <div class='card-body-left'>
                                        <p><a href="{{job.url}}">{{job.job_title}}</a></p>
                                    </div>
                                    <div class='card-body-right'>
                                        <p>{{job.job_summary}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            {% else  %}
                <h4>No results found :(</h4>
            {% endif %}
            </form>
        </div>
    </body>

</html>